body, html {
  height: 100%;
}

body {
  margin:0;
  padding:0;
  font: normal 16px tahoma, tahoma, sans-serif;
}

.bg {
  background-image: url("../img/header.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  width: 100%;
}

.navbar-nav a {
  margin-left: 40px;
  color: #ffffff;
  text-decoration:none;
}

.navbar-nav a:hover{
	border-bottom:4px solid currentcolor;
}

.snow1{
	background-color: transparent;color:#ffffff;
}

.snow:hover{
	background-color: rgb(255, 89, 105);
	color:white;
}
.snow1:hover{
	background-color: rgb(255, 89, 105);
	color:white;
}

.dots{
	float:left;
	background-color: rgb(0, 119, 255);
	height:30px;
	width: 0px;
	border-radius: 50%;
	margin-right: 40px;
	margin-top:100px;
	padding-left: 15px;
	padding-right: 15px;
}

.dots:hover{
	background-color:white;
	border:1px solid orange;
}

.current{
	border-bottom:4px solid currentcolor;
}

.orange {
  background-color: rgb(255, 89, 105);
  border: none;
  color: white;
  margin-top:60px;
  margin-left:15px;
  padding: 20px 20px 20px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius:7px;
  margin-bottom:300px;
}

header {
  /*height: 100%;*/
  /*width: 100%;*/
  /*position: fixed;*/
  padding-top:150px;
  /*left: 0;*/
  /*right: 0;*/
}

h1 {
  color: #fff;
  font-size: 56px;
}

p {
  color: #fff;
}

.btn-link {
  color: #ffffff!important;
}

@media screen and (min-width:1280px){
	h1{font-size:3vw !important;}
}