body, html {
  height:100%;
}

body {
  margin:0;
  padding:0;
}

nav {
  height: 50px;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 25px;
  padding-bottom: 25px;
  position: fixed;
  z-index: 1;
  left:0;
  right:0;
}

nav a {
  padding: 15px;
  color: #ffffff;
}

nav button {
  float: right;
  background-color: #ffffff;
  border: 0;
  padding: 15px;
  border-radius: 5px;
}

header {
  height: 100%;
  width: 100%;
  position: fixed;
  background-image: url("../img/header.png");
  background-size: cover;
  padding:150px;
  left: 0;
  right: 0;
}

h1 {
  padding-left: 15px;
  padding-right: 15px;
  color: #fff;
  font-size: 56px;
}

p {
  padding-left: 15px;
  padding-right: 15px;
  color: #fff;
}
